
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_weblayout.cshtml";
}

<div class="banner">
    <div id="carousel01" class="owl-carousel owl-theme">
        <div class="item">
            <img src="~/images/banner1.jpg" alt="">
            <div class="caption">
                <h2>
                    Boost up your <strong>Skills</strong>
                    with a new way of
                    <strong>Learning</strong>
                </h2>
                <a href="#">Start Learning Today <span><img src="~/images/arrowweb.png" alt=""></span></a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="">
            <div class="caption">
                <h2>
                    Boost up your <strong>Skills</strong>
                    with a new way of
                    <strong>Learning</strong>
                </h2>
                <a href="#">Start Learning Today <span><img src="~/images/arrowweb.png" alt=""></span></a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="">
            <div class="caption">
                <h2>
                    Boost up your <strong>Skills</strong>
                    with a new way of
                    <strong>Learning</strong>
                </h2>
                <a href="#">Start Learning Today <span><img src="~/images/arrowweb.png" alt=""></span></a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.jpg" alt="">
            <div class="caption">
                <h2>
                    Boost up your <strong>Skills</strong>
                    with a new way of
                    <strong>Learning</strong>
                </h2>
                <a href="#">Start Learning Today <span><img src="~/images/arrowweb.png" alt=""></span></a>
            </div>
        </div>
    </div>

    <div class="elementor-shape" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M0,0V0h0v90L1000,0z"></path>
        </svg>
    </div>
</div>
<div class="classes-block">
    <div class="container">
        <h1>Available Classes</h1>
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon1.png" alt="">
                <h4><a href="#">Mathematics</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon2.png" alt="">
                <h4><a href="#">Physics</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon3.png" alt="">
                <h4><a href="#">Chemistry</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon4.png" alt="">
                <h4><a href="#">Biology</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon5.png" alt="">
                <h4><a href="#">History</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon6.png" alt="">
                <h4><a href="#">Geography</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon7.png" alt="">
                <h4><a href="#">Literature</a></h4>
            </div>
            <div class="col-sm-3 col-xs-6">
                <img src="~/images/cls_icon8.png" alt="">
                <h4><a href="#">Language</a></h4>
            </div>
        </div>
    </div>
</div>
<div class="learn-block">
    <div class="elementor-shape-top" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill-top" d="M0,6V0h1000v100L0,6z"></path>
        </svg>
    </div>
    <div class="container">
        <h2>Why Learn on Edu Solution?</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="circle"><img src="~/images/learn_icon1.png" alt=""></div>
                <h3>Best Teachers</h3>
                <p>Mauris gravida nunc fringilla, mattis nisi nec, porttitor.</p>
            </div>
            <div class="col-sm-3">
                <div class="circle"><img src="~/images/learn_icon2.png" alt=""></div>
                <h3>High-Quality Content</h3>
                <p>Mauris gravida nunc fringilla, mattis nisi nec, porttitor.</p>
            </div>
            <div class="col-sm-3">
                <div class="circle"><img src="~/images/learn_icon3.png" alt=""></div>
                <h3>Customized Learning</h3>
                <p>Mauris gravida nunc fringilla, mattis nisi nec, porttitor.</p>
            </div>
            <div class="col-sm-3">
                <div class="circle"><img src="~/images/learn_icon4.png" alt=""></div>
                <h3>Convenient & Safe</h3>
                <p>Mauris gravida nunc fringilla, mattis nisi nec, porttitor.</p>
            </div>
        </div>
    </div>
    <div class="elementor-shape" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M0,0V0h0v90L1000,0z"></path>
        </svg>
    </div>
</div>
<div class="container testimonial-block">
    <h2>Testimonials</h2>
    <div id="carousel02" class="owl-carousel owl-theme">
        <div class="item">
            <div class="testimonials">
                <img src="~/images/testi_1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a molestie...</p>
                <h5>Adams Smith</h5>
            </div>
        </div>
        <div class="item">
            <div class="testimonials">
                <img src="~/images/testi_2.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a molestie...</p>
                <h5>John Doe</h5>
            </div>
        </div>
        <div class="item">
            <div class="testimonials">
                <img src="~/images/testi_3.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a molestie...</p>
                <h5>Anne John</h5>
            </div>
        </div>
        <div class="item">
            <div class="testimonials">
                <img src="~/images/testi_1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a molestie...</p>
                <h5>Adams Smith</h5>
            </div>
        </div>
    </div>
</div>