@model ReflectionIT.Mvc.Paging.PagingList<Datalayer.Models.TblClass>
@using Datalayer;

<div class="box col-md-12" id="classconf">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2>Class Configuration</h2>
            <div class="box-icon">

                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalClassForm">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>

        </div>
        <div class="box-content">
            <table class="table">
                <thead>
                    <tr>

                        <th>Class Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cls in ViewBag.ClassName)
                    {
                        <tr>
                            <td>@cls.ClassName</td>

                            <td>

                                <a href=#; onclick="GetClass(@cls.ClassId);">
                                    <i class="fa fa-edit" aria-hidden="true">Edit</i>
                                </a>


                            </td>
                            <td>
                                <a href="#" onclick="DeleteData(@cls.ClassId,'Class');">
                                    <i class="fa fa-trash" aria-hidden="true">Delete</i>
                                </a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
            <nav aria-label="">
                @Html.Partial("_Classpagination")
            </nav>
        </div>
    </div>
</div>